
@{
    ViewData["Title"] = "Select Report Month" +
                "";

}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<div class="container">


    <h2>Select Date Parameters</h2>

    <p>Please select a year and month for your automated sales report.</p>
    <form id="reportParameters" action="@Url.Action("Report", "SalesReportInterface")" method="post">
        <div class="row">
            <div class="col-md-3">
                <label>Select Year</label>
                <select id="reportYear" name="reportYear">
                    @for (var i = 2005; i <= (int)DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
    }
                </select>
            </div>
            <div class="col-md-3">
                <label>Select Month</label>
                <select id="reportMonth" name="reportMonth">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>

                </select>
            </div>
            @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdminRequirement")).Succeeded)
            {

            <div class="col-md-3">
                <label>Select Sales Person</label>
                <select id="salesPerson" name="salesPerson">

                </select>
            </div>
            }

        </div>
        <br /> <br />
        <input type="submit" />
    </form>
</div>
<br /> <br />
<br /> <br />

