
@{
    ViewData["Title"] = "Index";
}

<h2>Dashboard for @User.Identity.Name</h2>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <a href="/SalesReportInterface/SelectParam"><img style=" width:200px; height:200px" src="https://drive.google.com/thumbnail?id=1UyPQLrROIKrUmQl4uYE0lYyGl3Qz3OdD" /></a>
    </div>
    <div class="col-md-4">
        <a href="/Home/Index"><img style=" width:200px; height:200px" src="https://drive.google.com/thumbnail?id=13i_FKjTXgufeVDTqAl8BN1QM7rO86Uet" /></a>
    </div>
</div>

<br />
<br />
<br />
<br />