
@{
    ViewData["Title"] = "NotAuthorized";
}

<h2>NotAuthorizedException</h2>


<h4>Sorry, it looks like you don't have access to this tool</h4>
<p>If you think this is a mistake, </p>
<p style="color: red">Pull up then </p>


